<div id="hero-details" class="flex flex-col gap-4 place-content-center
  h-[100%]">
  <h2 class="tracking-[15px] !text-(length:--title-second-font-size)">HELLO, MY NAME IS ALEX!</h2>
  <h1 class="!font-bold !text-(length:--title-main-font-size)">Full-Stack Software Engineer</h1>
  <h2 class="!text-[20px]">Java • Spring Boot • Angular • TypeScript • MySQL • JWT • REST APIs • CI/CD • Tailwind CSS</h2>
  <app-line [size]="100"></app-line>
  <p>I build end-to-end applications with Java, Spring, and Angular, focusing on design patterns, clean code, and scalable architectures.
    I enjoy exploring what happens under the hood and creating solutions that are both flexible and easy to maintain.</p>
  <p class="inline-block *:hover:underline *:mr-3">
      <a href="https://www.linkedin.com/in/alexandru-dobos/">[LinkedIn]</a>
      <span>|</span>
      <a href="https://github.com/Onix322">[GitHub]</a>
  </p>
  <app-hire-me-button href="/contact" class="mt-4"></app-hire-me-button>
</div>
