<div id="hero-details" class="flex flex-col gap-4 place-content-center
  h-[100%]">
  <h2 class="tracking-[15px] !text-(length:--title-second-font-size)">HELLO, MY NAME IS ALEX!</h2>
  <h1 class="!font-bold !text-(length:--title-main-font-size)">I CREATE WEBSITES THAT SOLVE PROBLEMS.</h1>
  <hr class="!w-[100px] +  border-4 rounded-3xl border-red-600 -p" />
  <p>I’m a web designer based in Germany which can help you make wonderful and visually appealing websites that solve your problems. I love web design.</p>
  <p class="inline-block *:hover:underline *:mr-3">
      <a href="https://www.linkedin.com/in/alexandru-dobos/">[LinkedIn]</a>
      <span>|</span>
      <a href="https://github.com/Onix322">[GitHub]</a>
  </p>
</div>
