main{
  max-width: var(--container-max-width) !important;
  width: 100%;
  overflow: hidden !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

section{
  --article-width: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
  /*overflow-x: scroll;*/
  transition: 1s all linear;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-template-rows: 100%;
  grid-auto-flow: column;
}

article{
  max-width: var(--article-width);
  width: 500px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 20px;
  transition: 0.1s ease-in;
  left: 0;
}


