main{
  max-width: var(--container-max-width) !important;
  width: 100%;
  overflow: hidden !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
  border: 1px solid blue;
}

section{
  --article-width: 500px;
  position: relative;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  /*scroll-behavior: smooth;*/
  transition: 1s all linear;
  border: 1px solid white;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  grid-template-columns: repeat(auto-fill, 500px);
}

article{
  max-width: var(--article-width);
  width: 500px;
  /*position: absolute;*/
  flex-basis: 500px;
  border: 1px solid red;
}

