<header id="header" class="m-auto box-border relative top-[50%] -translate-y-[50%] translate">
  <div id="header-wrapper" class="relative m-auto box-border max-w-(--container-max-width) h-(--header-max-height)">
    <div id="header-container" class="relative h-full max-w-(--header-details-max-width) box-border">
      <div class="grid grid-cols-[calc(50%+50px)_1fr] grid-rows-[90%_10%] h-full">
        <nav id="header-nav">
          <ol class="w-fit relative top-20">
            <li><a href=""><h2 class="nav-button">Work.</h2></a></li>
            <li><a href=""><h2 class="nav-button">Resume.</h2></a></li>
            <li><a href=""><h2 class="nav-button">Contact.</h2></a></li>
          </ol>
        </nav>
        <div id="header-details" class="justify-self-end place-content-center">
          <p class="tracking-[0.6em]">HELLO! MY NAME IS ALEX.</p>
          <h1 class="!text-[96px] leading-[125px]">FULL STACK SOFTWARE ENGINEER.</h1>
<!--          <p>&#45;&#45;</p>-->
<!--          <p class="uppercase">Java • Spring Boot • Angular • TypeScript • MySQL • JWT • REST APIs • CI/CD • Tailwind CSS</p>-->
        </div>
        <div>
          <h2 class="max-w-[200px]">Alexandru Dobos.</h2>
        </div>
      </div>
      <img src="profil.png" class="absolute -z-1 w-(--header-image-width) top-[50%] left-[50%] translate-[-50%] grayscale-100" alt="">
    </div>
  </div>
</header>
