<main class="max-w-(--container-max-width) w-full
  p-(--general-padding)
  h-[fit-content]
  justify-self-center">

  <section class="*:mt-20 flex justify-between">
    <div>
      <h3 class="!pb-2 !text-[20px]">Work</h3>
      <app-line [size]="80"></app-line>
      <h2>Results</h2>
    </div>
    <div>
      <app-card name="Project name" [stack]="['HTML', 'CSS', 'TypeScript', 'Java']" [hasTestimonial]=true testimonialName="Customer's name"
                testimonial="testi testi testi testi testi testi testi testi testi testi testi testi testi testi testi "
                description="Project description Project description Project description Project description Project description Project description vProject description Project description Project description "></app-card>

    </div>
  </section>
</main>
