.custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: 9999;
  border-radius: 50%;
  filter: blur(1px);
}
