
#ambient{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ambient > div{
  --side-from: 300px;
  --top-from: 300px;
  --diff: 200px;
  width: 430px;
  height: 430px;
  border-radius: 100%;
  filter: blur(220px) brightness(75%);
  position: absolute;
  background-color: var(--pink-color);
  right: var(--side-from);
  rotate: -45deg;
  /*opacity: 0.4;*/
  animation-name: ambient;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 35s;
}

@keyframes ambient{
  0% {
    top: var(--top-from);
    right: var(--side-from);
  }
  25%{
    top: var(--top-from);
    right: calc(var(--side-from) + var(--diff));
  }
  50% {
    top: calc(var(--top-from) - var(--diff));
    right: calc(var(--side-from) + var(--diff));
  }
  75%{
    top: calc(var(--top-from) - var(--diff));
    right: var(--side-from);
  }
  100% {
    top: var(--top-from);
    right: var(--side-from);
  }
}


