.window{
  --border-r: 20px;
  --border-w: 4px;
  position: relative;
  justify-self: center;
  border-radius: var(--border-r);
  z-index: 0;
  background-color: var(--purple-opac-color);
}

.window::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--border-r);
  padding: var(--border-w);
  background: var(--linear-opacity-gradient-color);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  z-index: -1;
}

/*
Explanation
(1)(2): Those lines are trivial.
(3): We apply a gradient as background and we make its origin the border box (by default it's the padding box).
(4): Using the mask property, we apply two opaque layers. The bottom one will cover the whole element and the top one will cover only the padding box (so it will not cover the border area)
(5): We exclude the top layer from the bottom one so that only the border area will be shown!
*/
