<article id="card" class="flex gap-6 justify-self-center
      w-full max-h-[800px] h-full
      *:max-w-[1/2] *:w-full p-[60px]">
  <div class="flex flex-col gap-8">
    <h3 class="font-bold">{{name}}</h3>
    <p>{{description}}</p>
    <ul id="tech-stack" class="flex
        gap-7 w-fit flex flex-wrap">
      @for (skill of stack; track skill){
        <li>
          <p>{{skill}}</p>
          <app-line [size]="30"></app-line>
        </li>
      }
    </ul>

    @if (hasTestimonial){
      <div id="testimonial" class="rounded-[10px]
            p-5
            max-w-fit w-full max-h-[200px] h-full
            shadow-lg shadow-outline
            flex gap-4">
        <img class="object-cover w-[5rem] h-[5rem]
            rounded-[100%]
            bg-gray-900" alt="" src="">
        <div>
          <h4>{{testimonialName}}</h4>
          <p>{{testimonial}}</p>
        </div>
      </div>
    }

    <app-button [href]="link" text="See details"></app-button>
  </div>
  <div class="bg-gray-900 rounded-[20px]">

  </div>
</article>
