@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@layer theme{
  :root {
    --main-font: "Anonymous Pro", monospace;
    --nav-height: 100%;
    --nav-width: 50vw;
    --container-max-width: 1920px;
    --header-max-height: 1080px;
    --body-general-bg-color: black;
    --title-main-font-size: 40px;
    --title-second-font-size: 30px;
    --general-font-size: 18px;
  }
}

* {
  font-family: var(--main-font), sans-serif;
  color: white;
  font-size: var(--general-font-size);
}

body{
  background: var(--body-general-bg-color);
}
