@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');
@import "tailwindcss";
@import "./app/pages/home/highlight-overrides.css";

@layer theme{
  :root {
    --main-font: "Poppins", sans-serif;;
    --terminal-font: "VT323", monospace;
    --nav-max-height: 90px;
    --nav-width: 100%;
    --container-max-width: 1920px;
    --container-max-height: fit-content;
    --container-edge-padding: 230px;
    --header-max-width: var(--container-max-width);
    --header-max-height: 1080px;
    --body-general-bg-color: black;
    --title-main-font-size: 64px;
    --title-second-font-size: 24px;
    --general-font-size: 18px;
    --general-padding: 6em;
    --bg-color: black;
    --purple-color: #25006E;
    --purple-opac-color: #25006E3A;
    --blue-color: #6665FF;
    --blue-opac-color: #6665FF54;
    --pink-color: #CE00E0;
    --pink-opac-color: #CE00E07A;
    --white-color: #FFFFFF;
    --gradient-deg: 130deg;
    --liniar-gradient-color: linear-gradient(var(--gradient-deg), var(--blue-color) 0, var(--purple-color) 50%, var(--pink-color) 100%);
  }
}

body{
  overflow: hidden;
  background-color: var(--bg-color);
  padding: 0 230px 0 230px;
  height: 10000px;
}

* {
  font-family: var(--main-font), sans-serif;
  color: white;
  font-size: var(--general-font-size);
}

p, button, textarea{
  font-size: 16px;
}

button{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
  width: fit-content;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  /*reset*/
}

.section-main-title {
  background: var(--liniar-gradient-color);
  color: transparent;
  background-clip: text;
  font-size: 20px;
}

.section-second-title {
  color: var(--white-color);
  background-clip: text;
  font-size: 77px;
  line-height: 100.5%;
  padding: 0 0 20px 0;
}

.section-third-title {
  color: var(--white-color);
  font-size: 48px;
}

.cta-button {
  font-weight: bold;
  font-size: 16px;
  width: 135px;
  height: 50px;
  background: var(--liniar-gradient-color);
  border-radius: 20px;
}

.second-button {
  --border-w: 4px;
  --border-r: 20px;
  --opacity: 45%;

  width: fit-content;
  padding: 7px 25px;
  position: relative;
  color: white;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--border-r);
}

/* border for second-button */
.second-button::before {
  --dimensions: calc(100% - calc(var(--border-w) + 2px));

  content: '';
  width: var(--dimensions);
  height: var(--dimensions);
  top: 49%;
  left: 50%;
  transform: translate(-50%, -49%);
  position: absolute;
  border-radius: var(--border-r);
  background: var(--blue-opac-color);
  z-index: -1;
}

.second-button::after {
  --dimensions: calc(100% + var(--border-w));

  opacity: var(--opacity);
  content: '';
  width: var(--dimensions);
  height: var(--dimensions);
  top: 50%;
  left: 50%;
  background:  var(--liniar-gradient-color);
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -2;
}

