<nav id="header-nav">
  <ol #navContent class="w-fit flex relative">
    <li #send data-cursor-stick class="sender-button">
      <a href="work">
        <h2 class="nav-button">Work.</h2>
      </a>
    </li>
    <li #send data-cursor-stick class="sender-button">
      <a href="resume">
        <h2 class="nav-button">Resume.</h2>
      </a>
    </li>
    <li #send data-cursor-stick class="sender-button">
      <a href="contact">
        <h2 class="nav-button">Contact.</h2>
      </a>
    </li>
  </ol>
</nav>
