<nav class="h-(--nav-height) w-(--nav-width)
    border-3 border-indigo-600">
  <ol class="
      border-1 border-red-600
      max-h-100 h-full w-full
      flex flex-col justify-center gap-10
      *:cursor-pointer *:underline
      *:before:content-['>'] *:before:mr-3 *:before:underline
      *:before:inline-block *:before:transition-transform *:focus:before:rotate-90  ">
    <li tabindex="0">Work</li>
    <li tabindex="0">Curriculum Vitae</li>
    <li tabindex="0">Contact</li>
  </ol>
</nav>
